.caption-text {
    color: #FF0000;    
}

/* for the danger color (button!) to be NOCX red instead of the default*/
html[data-theme="light"] {
    --pst-color-danger: red;
}

@page {
    size: 6.5in 9.2in;
    margin: 2cm; /* Set margin on each page */
  }
